.clock {
    text-align: center;
    border: 1px solid $color-grey-light;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.clock--master {
    float: right;
    font-size: 1.25rem;
    padding: 0;

    .clock__timer {
        line-height: 1;
        padding: 0.625rem 1rem;
    }
}

.clock__title-input {
    display: block;
    width: 100%;
}

.clock__timer {
    font-family: 'NovaMono', monospace;
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
}
