.clock {
    display: inline-block;
    width: 300px;
    text-align: center;
    border: 1px solid $color-grey-light;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.clock__title-input {
    width: 100%;
}

.clock__timer {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
}
