$color-white: #fff;
$color-black: #000;

$color-grey-light: #cecece;

$color-blue-mid: #6699cc; //rgba(102, 153, 204, 100)
$color-yellow: #fff275; //rgba(255, 242, 117, 100)
$color-orange: #ff8c42; //rgba(255, 140, 66, 100)
$color-red-mid: #ff3c38; //rgba(255, 60, 56, 100)
$color-red-dark: #a23e48; //rgba(162, 62, 72, 100)

$text-color: $color-black;
$background-color: $color-white;
